/* Container for the video background */
.video-background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
  }
  
  /* Video styling */
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Overlay to darken the video */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  }
  
  /* Content container */
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Adjust text color as needed */
  }

.cards-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: auto;
    height: auto;
}

.content-container {
    height: 100vh; /* Set a fixed height equal to the viewport height */
    overflow: auto; /* Enable vertical scrolling when content exceeds the container's height */
}

.Launch {
    width: auto;
    height: auto;
    margin-left: 160vh;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column; /* Stack cards vertically on smaller screens */
        align-items: center; /* Center cards horizontally */
        margin-left: 6vh;
        overflow-y: auto;
    }
    h1 {
        flex-direction: column;
        align-items: center;
    }

    .Launch {
        width: auto;
        height: auto;
    }

    .content {
        padding-top: 850px;
        overflow-y: auto;
    }
    .content-container {
        max-height: 100vh; /* Set a fixed height equal to the viewport height */
        overflow-y: auto; /* Enable vertical scrolling when content exceeds the container's height */
    }
    .overlay {
        max-height: 100vh;
        overflow: auto;
    }
}

.card {
    position: absolute;
    margin-right: 3rem;
    margin-top: 3rem;
    flex-wrap: flex;
}
